services:
  base:
    build:
      context: ./
      dockerfile: Dockerfile_base
    image: openrecombinhunt-base
    environment:
      - PYTHONUNBUFFERED=1
    pull_policy: never

  pipeline:
    depends_on:
      - base
    build:
      context: ./
      dockerfile: Dockerfile_pipeline
    image: openrecominhunt-pipeline
    container_name: openrecominhunt-pipeline
    volumes:
      - ./:/app/
    stdin_open: true
    tty: true
    pull_policy: never

  frontend:
    depends_on:
      - base
    build:
      context: ./
      dockerfile: Dockerfile_frontend
    image: openrecombinhunt_frontend
    container_name: openrecombinhunt-frontend
    ports:
      - 60129:8501
    volumes:
      - ./app:/app/app
      - ./config:/app/config
      - ./environments:/app/environments
      - ./logs:/app/logs
      - ./samples:/app/samples
      - ./src:/app/src
    pull_policy: never
    restart: unless-stopped
