paths:
  raw_data: "data/raw"
  processed_data: "data/processed"
  results: "results"
  environments: "environments"
  samples: "samples"
  logs: "logs"
  libs: "libs"

viruses:
  yellow-fever:
    name: "yellow-fever"
    
    source: "ncbi"
    method: "cli"
    
    taxon_id: "11089"

    reference:
      accession_id: "NC_002031.1"
      length: 10862

    parameters:
      metadata_processing:
        source_lineage_column: "NONE"
        filters:
          # Rule 1: Discard rows where 'Isolate Collection date' is missing.
          - column: "Isolate Collection date"
            operator: "notna"
            # 'value' is not needed for 'notna' operator

          # Rule 2: Discard rows where 'Accession' is missing.
          - column: "Accession"
            operator: "notna"

          # Rule 3: Discard rows where 'Length' is missing.
          # This is implicitly handled by the next rule, but it's good practice
          # to be explicit if you want to ensure it's not NA before a numeric comparison.
          - column: "Length"
            operator: "notna"

          # Rule 4: Discard rows where sequence 'Length' is less than 9000.
          - column: "Length"
            operator: ">="
            value: 9775

      haplocov:
        dist: 3
        size: 10
        # Defines the designation strategy. Options:
        # "haplocov": Use only designations created by HaploCov.
        # "nomenclature": Use only existing Pango lineages from metadata.
        # "both": Use both existing nomenclature and new HaploCov designations.
        designation_mode: "haplocov"

      recombinhunt:
        lc_threshold: 0.75
        min_genome_count: 10
        run_mode: "all"

  rsv-a:
    name: "rsv-a"

    source: "nextstrain"
    method: "url"

    taxon_id: "11250" #TODO: Verify this taxon ID

    reference:
      accession_id: "NC_038235.1"
      length: 15222

    parameters:
      metadata_processing:
        source_lineage_column: "clade"
        # A list of filter rules to apply sequentially to the raw metadata.
        filters:
          - { column: "accession", operator: "notna" }
          - { column: "date", operator: "notna" }
          - { column: "qc.overallStatus", operator: "==", value: "good" }
          - { column: "missing_data", operator: "<=", value: 3 }
          
          # TODO: Discuss if we need more filters here
          
          #- { column: "alignmentScore", operator: ">", value: 40000 }
          #- { column: "genome_coverage", operator: ">", value: 0.9 }
          #- { column: "G_coverage", operator: ">", value: 0.98 }
          #- { column: "F_coverage", operator: ">", value: 0.98 }
      haplocov:
        dist: 5
        size: 50
        designation_mode: "both"

      recombinhunt:
        lc_threshold: 0.75
        min_genome_count: 10
        run_mode: "all"

  rsv-b:
    name: "rsv-b"

    source: "nextstrain"
    method: "url"

    taxon_id: "11250" #TODO: Verify this taxon ID #NOT NECESSARILY NEEDED

    reference:
      accession_id: "NC_001781.1"
      length: 15225

    parameters:
      metadata_processing:
        source_lineage_column: "clade"
        # A list of filter rules to apply sequentially to the raw metadata.
        filters:
          - { column: "accession", operator: "notna" }
          - { column: "date", operator: "notna" }
          - { column: "qc.overallStatus", operator: "==", value: "good" }
          - { column: "missing_data", operator: "<", value: 3 }

      haplocov:
        dist: 5
        size: 50
        designation_mode: "both"

      recombinhunt:
        lc_threshold: 0.75
        min_genome_count: 10
        run_mode: "all"

  zika:
    name: "zika"

    source: "ncbi"
    method: "cli"

    taxon_id: "64320"

    reference:
      accession_id: "NC_035889.1"
      length: 10808

    parameters:
      metadata_processing:
        source_lineage_column: "NONE"
        filters:
          # Rule 1: Discard rows where 'Isolate Collection date' is missing.
          - column: "Isolate Collection date"
            operator: "notna"

          # Rule 2: Discard rows where 'Accession' is missing.
          - column: "Accession"
            operator: "notna"

          # Rule 3: Discard rows where 'Length' is missing.
          - column: "Length"
            operator: "notna"

          # Rule 4: Discard rows where sequence 'Length' is less than 90% of the reference length.
          - column: "Length"
            operator: ">="
            value: 9727

      haplocov:
        dist: 3
        size: 10
        designation_mode: "haplocov"

      recombinhunt:
        lc_threshold: 0.75
        min_genome_count: 10
        run_mode: "all"

  monkeypox:
    name: "monkeypox"

    source: "ncbi"
    method: "cli"

    taxon_id: "10244"

    reference:
      accession_id: "NC_063383.1"
      length: 197209

    parameters:
      metadata_processing:
        source_lineage_column: "Virus Pangolin Classification"
        filters:
          # Rule 1: Discard rows where 'Isolate Collection date' is missing.
          - column: "Isolate Collection date"
            operator: "notna"

          # Rule 2: Discard rows where 'Accession' is missing.
          - column: "Accession"
            operator: "notna"

          # Rule 3: Discard rows where 'Length' is missing.
          - column: "Length"
            operator: "notna"

          # Rule 4: Discard rows where sequence 'Length' is less than 180000.
          - column: "Length"
            operator: ">="
            value: 177488

      haplocov:
        dist: 3
        size: 10
        designation_mode: "both"

      recombinhunt:
        lc_threshold: 0.5
        min_genome_count: 10
        run_mode: "all"

  influenza:
    name: "influenza"

    source: "ftp"
    method: "url"

    # taxon_id: "11320"

    reference:
      accession_id: "NC_007362.1"
      length: 1760

    parameters:
      haplocov:
        dist: 5
        size: 50
        designation_mode: "haplocov"

      recombinhunt:
        lc_threshold: 0.75
        min_genome_count: 10
        run_mode: "all"

  sars-cov-2:
    name: "sars-cov-2"

    source: "nextstrain"
    method: "url"

    # taxon_id: "" 

    reference:
      # accession_id: "NC_045512.2"
      length: 29903

    parameters:
      metadata_processing:
        source_lineage_column: "pango_lineage"
        filters:
          - {column: "missing_data", operator: "<", value: 589} # 2% of 29903
          - {column: "coverage", operator: ">=", value: 0.99}
          - {column: "virus", operator: "==", value: "ncov"}
          - {column: "virus", operator: "notna"}
          - {column: "length", operator: "notna"}
          - {column: "date_submitted", operator: "notna"}
          - {column: "QC_overall_status", operator: "notna"}
          - {column: "QC_overall_status", operator: "!=", value: "bad"}
          - {column: "QC_missing_data", operator: "==", value: "good"}
          - {column: "QC_frame_shifts", operator: "==", value: "good"}
          - {column: "QC_stop_codons", operator: "==", value: "good"}
          - {column: "QC_mixed_sites", operator: "==", value: "good"}

      # haplocov:
      #   dist: 5
      #   size: 50
      #   designation_mode: "both"

      recombinhunt:
        lc_threshold: 0.75
        min_genome_count: 10
        run_mode: "random"
        num_samples_to_run: 100

ncbi-cli:
  # Configuration for NCBI CLI to download virus genomes and metadata.
  sequences:
    # Command to download the main dataset.
    # Placeholders {taxon_id} and {virus_name} will be replaced by the script.
    - "datasets download virus genome taxon {taxon_id} --include genome --filename {virus_name}-download.zip"
    
    # Command to generate metadata from the downloaded report.
    # The script will handle unzipping and navigating into the correct folder to run this.
    - "dataformat tsv virus-genome --inputfile ncbi_dataset/data/data_report.jsonl > {virus_name}-raw-metadata.tsv"

  reference:
    # Command to download the reference genome.
    - "datasets download virus genome accession {accession_id} --include genome --filename {virus_name}-reference.zip"

nextstrain-url:
  rsv-a:
    sequences: "https://data.nextstrain.org/files/workflows/rsv/a/sequences.fasta.xz"
    metadata: "https://data.nextstrain.org/files/workflows/rsv/a/metadata.tsv.gz"

  rsv-b:
    sequences: "https://data.nextstrain.org/files/workflows/rsv/b/sequences.fasta.xz"
    metadata: "https://data.nextstrain.org/files/workflows/rsv/b/metadata.tsv.gz"

  sars-cov-2:
    metadata: "https://data.nextstrain.org/files/ncov/open/metadata.tsv.zst"

ftp-url:
  influenza:
    metadata: "https://ftp.ncbi.nlm.nih.gov/genomes/Viruses/AllNuclMetadata/AllNuclMetadata.csv.gz"

ftp-cli:
  sequences:
  - "datasets download virus genome accession --inputfile {virus_name}-accession-ids.txt --filename {virus_name}-sequences.zip"

  reference:
  - "datasets download virus genome accession {accession_id} --include genome --filename {virus_name}-reference.zip"